<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO7eW2jZnqh0nBTfQmjNBVWWEyEEhQ1tM</string>
	<key>GCM_SENDER_ID</key>
	<string>423418608140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cml-1-d7ea8</string>
	<key>STORAGE_BUCKET</key>
	<string>cml-1-d7ea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423418608140:ios:d6e4dd06a85b9acba44c29</string>
	<key>DATABASE_URL</key>
	<string>https://cml-1-d7ea8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>